{% load i18n %}
<aside>
    <div class="mb-1">
        {% translate "Application" %}
    </div>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="{% url 'web:home' %}" class="nav-link {% if active_tab == 'python_tutorial' %}active{% endif %}">
                <span class="pg-icon"><i class="fa fa-home"></i></span><span>{% translate "python_tutorial" %}</span>
            </a>
        </li>
     <div class="mb-2">
            {% translate "Tutorial" %}
        </div>
     <li class="nav-item">
            <a href="{% url 'tutorial_basics:basics_html_page' %}"
               class="nav-link {% if active_tab == 'pricing_page' %}active{% endif %}">
                <span class="pg-icon"><i class="fa fa-external-link"></i></span><span>Basics</span>
            </a>
        </li>
        <div class="mb-2">
            {% translate "Template" %}
        </div>
    <li class="nav-item">
            <a href="{% url 'pegasus_examples:tasks' %}"
               class="nav-link {% if active_tab == 'tasks' %}active{% endif %}">
                <span class="pg-icon"><i class="fa fa-tasks"></i></span><span>Background Tasks</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'pegasus_employees:object_lifecycle_home' %}"
               class="nav-link {% if active_tab == 'object_lifecycle' %}active{% endif %}">
                <span class="pg-icon"><i class="fa fa-users"></i></span><span>Employee App</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'ecommerce:ecommerce_home' %}"
               class="nav-link {% if active_tab == 'ecommerce' %}active{% endif %}">
                <span class="pg-icon"><i class="fa-solid fa-shopping-cart"></i></span>
                <span>{% translate "E-Commerce" %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'openai_example:openai_home' %}"
               class="nav-link {% if active_tab == 'openai' %}active{% endif %}">
                <span class="pg-icon"><i class="fa-solid fa-robot"></i></span>
                <span>{% translate "OpenAI Demos" %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'group_chat:chat_list' %}"
               class="nav-link {% if active_tab == 'group-chat' %}active{% endif %}">
                <span class="pg-icon"><i class="fa-regular fa-comments"></i></span>
                <span>{% translate "Group Chat" %}</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'pegasus_examples:landing_page' %}"
               class="nav-link {% if active_tab == 'landing_page' %}active{% endif %}">
                <span class="pg-icon"><i class="fa fa-picture-o"></i></span><span>Landing Page</span>
            </a>
        </li>
    </ul>
    {% if not user.is_anonymous %}
        <div class="mt-3 mb-1">
            {% translate "My Account" %}
        </div>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="{% url 'users:user_profile' %}"
                   class="nav-link {% if active_tab == 'profile' %}active{% endif %}">
                    <span class="pg-icon"><i class="fa fa-user"></i></span><span>{% translate "Profile" %}</span>
                </a>
            </li>
            {% if user.has_usable_password %}
                <li class="nav-item">
                    <a href="{% url 'account_change_password' %}"
                       class="nav-link {% if 'accounts/password/change' in request.path %}active{% endif %}">
                        <span class="pg-icon"><i
                                class="fa fa-unlock-alt"></i></span><span>{% translate "Change Password" %}</span>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'account_logout' %}"
                   class="nav-link {% if 'accounts/logout' in request.path %}active{% endif %}">
                    <span class="pg-icon"><i class="fa fa-sign-out"></i></span><span>{% translate "Sign out" %}</span>
                </a>
            </li>
        </ul>
    {% endif %}
</aside>