boto3
channels
channels_redis
docutils
Django>=4.2.16
django-allauth[headless,mfa,socialaccount]>=65.13.1
django-allauth-2fa
django-waffle
psycopg2-binary
django-environ
djangorestframework
drf-spectacular
stripe
dj-stripe
django-anymail[mailgun]  # email services
django-storages
celery-progress
celery
celery[redis]
django-hijack
django-health-check[db,redis,celery]
django-celery-beat
django-cors-headers
django-vite
djangorestframework-api-key>=3.0.0,<3.2.0
markdown
openai
requests
sentry-sdk
wagtail
whitenoise[brotli]
